@{
    Layout = "_Layout2"; // Alternatif layout dosyası
    ViewData["Title"] = "Home Page";
}

<link href="~/css/AdmınIndex.css" rel="stylesheet"/>

<body>
    
</body>


<script src="~/css/AdmınIndex.js"></script> <!-- JavaScript dosyasını buraya ekleyin -->