@model LoginEkrani.Models.Admin.GrupModel

@{
    Layout = "_Layout2"; // Alternatif layout dosyası
}

<link rel="stylesheet" href="~/css/YeniObjeEkle.css" />

<div class="miniContainer2">
    <h3>Yeni Grup Kodu Ekle</h3>
    <form asp-action="YeniGrupKoduEklee" method="post">
        <div class="container" style="float: inline-start">
            <div class="col-md-6">
                <label class="form-label" style="width: 100%">Grup Kodu</label>
                <input style="width: 100%;" type="text" class="form-control" name="kpsft_grup_kodu" id="kpsft_grup_kodu" value="@Model.kpsft_grup_kodu">
            </div>

            <div class="col-md-6">
                <label class="form-label" style="width: 100%">Grup Adı</label>
                <input style="width: 100%;" type="text" class="form-control" name="kpsft_grup_Adi" id="kpsft_grup_Adi" value="@Model.kpsft_grup_adi">
            </div>

            <div class="col-md-6">
                <label class="form-label" for="kpsft_aciklama">Açıklama</label>
                <textarea class="form-control" name="kpsft_aciklama" rows="4">@Model.kpsft_aciklama</textarea>
            </div>

            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>