@{
    Layout = "_Layout"; // Alternatif layout dosyası
}


<form asp-action="ResetPassword" method="post">

                <div class="container">
                    <label for="girilenKod"><b>Doğrulama Kodu:</b></label>
                    <input type="text" id="girilenKod" name="girilenKod" placeholder="Doğrulama kodunu girin" required>
                </div>

                <div class="container">
                    <label for="newPassword"><b>Yeni Şifre:</b></label>
                    <input type="password" id="newPassword" name="newPassword" placeholder="Yeni Şifre" required>

                    <button type="submit">Şifreyi Sıfırla</button>
                </div>

                <!-- Hata Mesajları -->
                @if (ViewBag.Hata != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.Hata
                    </div>
                }
            </form>

