<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="Index.cshtml">
        <system.webServer>
            <defaultDocument>
                <files>
                    <remove value="Index.cshtml" />
                </files>
            </defaultDocument>
        </system.webServer>
    </location>
</configuration>
